h1, h2, h4{
  line-height: 40px;
  font-weight: 50;
  letter-spacing: 2px;
  margin-top: 5px;
}



@media only screen and (max-width: 730px) {
    .scroll-me {
      overflow-x: scroll;
    }
    th, td {
      min-width: 100px;
    }
  }
  
  @media only screen and (max-width: 991px) {
      .dashboard{
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }